#card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#card-container .card{
    width: 300px;
    height: 620px;
    margin-right: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  body{
     background-color: #000000;
  }
  h3 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #FFFFFF;
      padding: 20px;
  }
  .wrapper{
    display: flex;
    position: relative;
    height: 100vh;
  }
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #110111;
    padding: 30px 0px;
    position: fixed;
    border-right: 1px solid #E0E4E8;
    overflow-y: scroll;
  }
  .wrapper .sidebar .logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
    display: inline-block;
    margin: 10px 20px;
  }
  .wrapper .sidebar .logo .flat {
    color: #FFFFFF;
  }
  .wrapper .sidebar .logo .dango {
    color: #C44900;
  }
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #2B034D;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(23, 3, 49, 0.664);
  }
  .wrapper .sidebar ul li .film.item.sold-out {
    color: #888;
    text-decoration: line-through;
  }
  .wrapper .sidebar ul li a{
    color: #C44900;
    display: block;
  }
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  .wrapper .sidebar ul li:hover{
    background-color: #25032E;
  }
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
  button {
    background-color: #2C0229;
    color: #e60505f3;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #C44900;
    color: #fff;
  }
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  .wrapper .main_content .header{
    padding: 20px;
    background: #110111;
    color: #C44900;
    border-bottom: 1px solid #E0E4E8;
    font-size: 24px;
  }
  .wrapper .main_content .header h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #EDDDF7;
      padding: 15px;
      font-style: italic;
      font-size: 18px;
  }
  .wrapper .main_content .info{
    margin: 20px;
    color: #9cae18;
    line-height: 25px;
  }
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  /* MOVIE CARDS STYLE */
  .container {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      gap: 20px;
      overflow-y: scroll;
    }
    .card {
      width: calc(21.33% - 10px);
      margin-bottom: 20px;
      box-shadow: 1 6px 10px rgba(23, 76, 108, 0.689);
      transition: box-shadow 0.3s ease-in-out;
      background-color: #200320;
    }
    .card:hover {
      box-shadow: 0 20px 25px rgba(230, 213, 236, 0.863);
    }
    .card .poster {
      width: 100%;
      height: auto;
      object-fit: fill;
    }
    .card .title{
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      color: #F1E3E4;
    }
    .card .description {
      font-size: 14px;
      color: #C44900;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .card .showtime {
    font-size: 14px;
    font-weight: bold;
    color: #F1E3E4;
    margin-bottom: 5px;
    }
    .card .tickets {
    font-size: 14px;
    font-weight: bold;
    color: #72c400;
    margin-top: 5px;
    }
    .btn {
      display: inline-flex;
      padding: 10px 30px;
      background-color: #422040;
      color: #fff;
      border-radius: 5px;
      margin: 10px 20px 20px 20px;
      border-color: #200320;
    }
    .btn:hover {
      background-color: #0C0414;
      border-color: #a42c64;
    }